@import 'src/styles/variables';
@import 'src/styles/mixins';

.navbar {
  background-color: #fff !important;
  padding: 20px 0;
  transition: all 0.1s ease-in-out;
  @include breakpoint('mobile') {
    padding: 45px 0;
  }
}
.nav {
  display: none;
  @include breakpoint('tablet') {
    display: flex;
    align-items: center;
  }
}
.nav-link {
  margin: 0 20px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.open-icon {
  display: block;
  @include breakpoint('tablet') {
    display: none;
  }
}

.hero-btn {
  border-color: $border;
  color: $border;
  border-radius: 50px;
}

.nav-link-medium {
  font-family: 'Rubik Medium', sans-serif;
  color: $secondary;
  margin-right: 30px;
  transition: .3s linear;
  &:hover {
    transform: scale(1.1);
  }
}