@import './variables';
@import './mixins';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  display: block;
  color: $primary !important;
  text-decoration: inherit !important;
  font-family: 'Rubik Regular';
  font-size: 16px !important;
  line-height: 19px !important;
  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

h1 {
  font-family: 'Rubik Medium';
  font-size: 30px;
  line-height: 50px;
  color: $secondary;
  @include breakpoint('mobile') {
    margin-bottom: 20px;
  }
  @include breakpoint('tablet') {
    font-size: 50px;
    line-height: 70px;  
  }
}
h2 {
  font-family: 'Rubik Medium', sans-serif;
  font-size: 35px;
  line-height: 50px;
  color: $secondary;
}
h3 {
  font-family: 'Rubik Bold', sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: $secondary;
  margin-bottom: 5px;
}
h5 {
  font-family: 'Rubik Regular', sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: $primary;
}

p {
  font-family: 'Rubik Regular', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: $primary;
  margin-bottom: 25px;
  @include breakpoint('tablet') {
    margin-bottom: 50px;
  }
}
