@import '~/styles/variables.scss';
@import '~/styles/mixins.scss';

.text-bigger {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
}

.component-wrapper {
    display: flex;
    margin-bottom: 35px;
    @include breakpoint('mobile') {
        margin-bottom: 0;
        width: 33%;
        justify-content: center;
        min-height: 130px;
        align-items: center;
        border-right: 2px solid #EEEFF2;
        &:last-child {
            border-right: none;
        }
    }
}

.image-wrapper {
    margin-right: 36px;
}