.reviews-fluid-container {
    padding-bottom: 250px;
    position: relative;
    overflow: hidden !important;
}

.maximum-carousel {
    max-width: 1300px;
    margin-left: auto;
    margin-right: -60px;
}