@import 'src/styles/variables';
@import 'src/styles/mixins';

.reviews-wrapper {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 30px;
    min-height: 330px;
    position: relative;
    background-color: #fff;
    @include breakpoint('mobile') {
        min-height: 260px;
    }
    @include breakpoint('tablet') {
        margin-right: 2%;
    }
    @include breakpoint('desktop') {
        margin-right: 5%;
    }
    &:after {
        content: '';
        position: absolute !important;
        width: 80%;
        height: 300px;
        top: 0 !important;
        left: 50%;
        transform: translateX(-50%);
        background: #0D1025;
        opacity: 0.06;
        filter: blur(114px) !important;
        border-radius: 10px;
        z-index: 1000 !important;
    }
}



.icon-image {
    width: 50px !important;
    height: 50px !important;
    margin-right: 20px;
}

.star-image {
    width: 16px !important;
    height: 16px !important;
}

.reviews-user {
    display: flex;
    align-items: center;
}

.review-name {
    line-height: 18px;
    margin-bottom: 5px;
}

.review-city {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;
}

.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.rate {
    display: flex;
    align-items: center;
}

.rate-text {
    margin: 0 10px 0 0;
}

.reviews-styles {
    margin-bottom: 0;
    line-height: 25px;
}

